.homeGrid {
  grid-area: page;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;

  & > div {
    margin-top: 32px;
  }

  & > div:first-child {
    margin-top: 0px;
  }

  @include from($tablet) {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 300px) minmax(
        200px,
        1fr
      );
    grid-template-rows: 330px 370px 330px;
    grid-template-areas:
      "main main main"
      "leisure pie basic"
      "bar bar bar";
    grid-gap: 32px;

    & > div {
      margin-top: 0px;
    }
  }
}

.chartCard {
  @include with-box-shadow;
  background: #27293d;
  border-radius: 4px;
}

.chartCardHead {
  color: #fff;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 12px;
  margin-left: 20px;

  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
  }
}

.subhead {
  color: #9a9a9a;
  font-weight: 600;
  font-size: 12px;
  padding-top: 15px;
  margin: 0px 0 6px 20px;
}

.mainChart {
  @include with-hover-tilt;
  grid-area: main;
}

.pieGroups {
  grid-area: pie;
  order: 5;

  @include with-hover-tilt;
}

.entertainment {
  @include with-hover-tilt;
  grid-area: leisure;
}

.basic {
  @include with-hover-tilt;
  grid-area: basic;
}

.barsContainer {
  display: block;

  .lastWeek {
    @include with-hover-tilt;
  }

  .overBudget {
    @include with-hover-tilt;

    margin-top: 32px;
  }

  @include from(600) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    grid-area: bar;
    grid-template-columns: repeat(2, 1fr);

    .overBudget {
      margin-top: 0px;
    }
  }
}
