.homeGrid {
  grid-area: page;
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  grid-template-rows: 330px 370px 330px;
  grid-template-areas:
    "main main main"
    "leisure pie basic"
    "heatmap heatmap heatmap";
  grid-gap: 32px;
}

.chartCard {
  background: #27293d;
  border-radius: 4px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.chartCardHead {
  color: #fff;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 12px;
  margin-left: 20px;

  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
  }
}

.subhead {
  color: #9a9a9a;
  font-weight: 600;
  font-size: 12px;
  padding-top: 15px;
  margin: 0px 0 6px 20px;
}

.mainChart {
  grid-area: main;
}

.pieGroups {
  grid-area: pie;
}

.entertainment {
  grid-area: leisure;
}

.basic {
  grid-area: basic;
}
