.wrapper {
  @include card;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $text_offwhite;
    font-weight: 100;
    flex-grow: 0;
  }

  svg {
    margin-left: 16px;
  }
}
