.wrapper {
  @include with-box-shadow;

  background: #2577f6;
  border-radius: 5px;

  position: fixed;
  top: 54px;
  bottom: 24px;
  width: 230px;

  display: flex;
  flex-direction: column;
}

.head {
  height: 60px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: $main_white;
  position: relative;
  padding-left: 35px;
  font-size: 14px;
  font-weight: 400;

  &::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 0;
    width: calc(100% - 30px);
    height: 1px;
    background: $main_white;
  }
}

.tabs {
  margin-top: 10px;
}

.tab {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 35px;
  position: relative;

  &.current::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 13px;
    bottom: calc(50% - 2px);
    background: $main_white;
  }

  a {
    color: $main_white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
  }
}

.icon {
  margin-right: 12px;
}
