body {
  background: $main_background;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #27293d;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #27293d;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $notifications_red;
}

img,
embed,
video,
object {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

:global(#app) {
  height: 100%;
}

:global(#main) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  justify-content: center;
  grid-template-areas:
    "top top"
    "page page";
  padding: 0 20px;

  @include from($desktop_big) {
    grid-template-columns: 230px minmax(300px, 1300px);
    grid-column-gap: 24px;
    grid-template-areas:
      "top top"
      "menu page";
  }
}

:global(.menu) {
  grid-area: menu;
  background: darken($main_background, 20%);
}

// routes mount animation
:global(.route-enter) {
  opacity: 0;
  transform: translateY(50px);
}

:global(.route-enter-active) {
  opacity: 1;
  transition: opacity 1s ease-out;
}

:global(.route-enter-done) {
  transition: transform 2s ease-out;
  transform: translateY(0);
}

:global(.route-exit) {
  opacity: 0;
}

:global(.route-exit-active) {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1s ease-out;
}
