body {
  background: $main_background;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  box-sizing: border-box;
}

img,
embed,
video,
object {
  max-width: 100%;
}

.test {
  border: 1px solid red;
}

:global(#app) {
  height: 100%;
}

:global(#main) {
  display: grid;
  grid-template-columns: 230px minmax(300px, 1300px);
  grid-template-rows: 70px 1fr;
  grid-column-gap: 24px;
  grid-template-areas:
    "top top"
    "menu page";
  justify-content: center;

  padding: 0 20px;
}

:global(.menu) {
  grid-area: menu;
  background: darken($main_background, 20%);
}

// routes mount animation
:global(.route-enter) {
  opacity: 0;
  transform: translateY(50px);
}

:global(.route-enter-active) {
  opacity: 1;
  transition: opacity 1s ease-out;
}

:global(.route-enter-done) {
  transition: transform 2s ease-out;
  tranform: translateY(0);
}

:global(.route-exit) {
  opacity: 0;
}

:global(.route-exit-active) {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1s ease-out;
}
