// colors
$main_background: #1e1e2e;
$offwhite_background: hsla(0, 0%, 87.1%, 0.3);

$main_white: #ffffff;
$notifications_red: #d92929;
$text_offwhite: #9a9a9a;
$text_white: #ffffff;
$text_expense: #e36f74;
$text_income: #6fe398;

// borders
$border_card: #3d3f51;

// breakpoints
$desktop_big: 1170;
$tablet: 800;
$mobile_big: 500;
