.container {
  @include card;

  overflow-y: scroll;
}

.table {
  margin-top: 20px;
  padding: 0 20px 0px 20px;
}

.expenseHeaders {
  @include table-head;
  margin-bottom: 10px;
}

.expenseRow {
  @include table-row;
  z-index: -1;
}

.iconContainer {
  @include icons-container;
}

.starIcon {
  opacity: 1;
}

.virListContainer {
  padding: 0 20px;
}
