.nav {
  display: flex;
  grid-area: top;
  align-items: center;
  justify-content: flex-end;

  & > * {
    cursor: pointer;
  }
}

.image {
  width: 30px;
  height: 30px;
}

.settings,
.messages {
  margin-right: 20px;
}

.messages {
  position: relative;

  &::after {
    content: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $notifications_red;
  }
}

.hasMessages {
  &::after {
    content: "";
  }
}

.heading {
  color: #ffffff;
  margin: 0 auto 0 0;
  text-transform: capitalize;
}

.notificationsContainer {
  @include with-box-shadow;

  position: absolute;
  right: 0;
  width: 322px;
  height: auto;
  background: $main_white;
  padding: 8px 0;
  z-index: 50;
  border-radius: 3px;
  visibility: hidden;

  &::after {
    content: "";
    position: absolute;
    right: 20px;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $main_white;
    clear: both;
  }
}

.notification {
  height: 37px;
  color: $text_offwhite;
  display: flex;
  justify-content: center;
  transition: background 0.3s ease-out;

  &:hover {
    background: $offwhite_background;
  }

  span {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 37px;
  }
}

.open {
  visibility: visible;
}
